torch~=1.13.1+cu116
matplotlib~=3.5.2
yaml~=0.2.5
pyyaml~=5.4.1
numpy~=1.19.3
scipy~=1.9.1
pathlib~=1.0.1
pyworld~=0.3.2
resampy~=0.4.2
librosa~=0.8.1
scikit-learn~=1.0.2
multiprocess~=0.70.14
tqdm~=4.64.1
visdom~=0.2.4
soundfile~=0.12.1
inflect~=6.0.2
unidecode~=1.2.0
loguru~=0.6.0
transformers~=4.26.0
pypinyin~=0.44.0
espnet~=202301
six~=1.16.0
editdistance~=0.6.2
pandas~=1.4.4
streamlit~=1.8.0
pillow~=9.2.0
fastapi~=0.92.0
pydantic~=1.10.5
sounddevice~=0.4.6
pyqt5~=5.15.9
cython~=0.29.32
pydub~=0.25.1
audioread~=3.0.0
opencv-python~=4.7.0.72
openai~=0.27.2
jsonlines~=3.1.0
gtts~=2.3.1
future~=0.18.2